#parent{
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;/*centers region in browser*/
    text-align: center; /*centers content*/
    }
    
#header{
    background:#2777f0;
    width: 100%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;/*centers region in browser*/
    text-align: center; /*centers content*/
    box-sizing: border-box;

    }
#footer{
    background:#2777f0;
    width: 100%;
    height: 6%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;/*centers region in browser*/
    text-align: center; /*centers content*/
    
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    border-radius: 10px;
    }
h1{
    margin-top: 0px;
    font-size: 2.4em;/*em is the default so 1 is default h1 tag default is 2m*/
    }
.text1{
    font-size: .8em;
    color: #222222;
    line-height: 1.2em;
    text-align: left;
}
